body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-aling{
    display: flex;
}

a{
    text-decoration: none;
}

.event1{
    border: 1px solid black;
    border-radius: 4px;
}

.events{
    margin-left: 2%;
}

.navbar-item:hover{
    border-radius: 5px;
    background-color: rgb(31, 113, 116);
    color: aliceblue;
}